
 <div class="interview_container">
    
    <form action="{% url 'jobs:interview_detail' job.company.slug job.slug %}" method="post" role="form" enctype="multipart/form-data">
      {% csrf_token %}


        <div class="row">
            {% for field in interview_form.visible_fields %}

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <div class="col-sm-6">
                        <label style="color:purple;" for="{{ field.label }}">{{ field.label }}</label><br/>
                        {{ field }}
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <label class="control-label">{{ error }}</label>
                        {% endfor %}
                    </div>
                     
                </div>
            {% endfor %}
            


            <div class="form-group">   
                <button type="submit" style="float:right;margin-top:20px;" class="btn btn-success">Save Record</button>
                <button type="button"  class="btn btn-default" style="float:right;margin-top:20px;margin-left:20px;" data-dismiss="modal">Close</button>
            </div>

        </div>

    </form>
       
</div>