{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
    <script type='text/javascript' src = "{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript"  src="{% static 'jquery-autosuggest/js/jquery.autoSuggest.minified.js' %}">
     </script>
     <link href="{% static 'jquery-autosuggest/css/autoSuggest.css' %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static 'js/team_leader.js' %}"></script>
      
    <link rel="stylesheet" href="{% static 'css/job_seeker.css' %}">
    
     
{% endblock %}





{% block center_block %}

   <h3 style="text-decoration:underline;color:orange;">JobSeeker Profile</h3>
   
    <div class="container jobseeker_profile_form">
     
        <div class="jobseeker_profile_wrapper">

            <form action="{% url 'jobseeker:create_jobseeker_profile' %}" method="post" enctype="multipart/form-data" role="form">{% csrf_token %}
             
                {% for field in form.visible_fields %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                          <span class="help-block">{{ field.help_text|safe }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                          <label class="control-label">{{ error }}</label>
                        {% endfor %}
                
                    </div>

                {% endfor %}
            
                
                <button type="submit" class="btn btn-warning  btn-create-profile ">Create Profile</button>

            </form>


         </div>
    </div>

{% endblock %}