{% extends "profile/team_leader_profile2.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/jobseeker/matching_profile.css' %}">
    <!--<script type='text/javascript' src = "{% static 'js/jquery.min.js' %}"></script>-->
    <script type="text/javascript"  src="{% static 'jquery-autosuggest/js/jquery.autoSuggest.minified.js' %}"></script>
    <link href="{% static 'jquery-autosuggest/css/autoSuggest.css' %}" type="text/css" media="all" rel="stylesheet" />


{% endblock %}

{% block js_block %}
    <script type="text/javascript" src="{% static 'js/jobseeker/interested_jobseeker.js' %}"></script>

    <script type='text/javascript'>
        $(document).ready(function()
        {   
            //alert('inside document');
            $('#search_data').unbind('submit').submit(function(event)
            {   
                event.preventDefault();
                var form_data=$('#search_data').serializeArray();
                //alert(form_data);
                form_data = JSON.stringify(form_data);
                //alert( form_data)
                $.ajax(
                {
                    url:'/jobseeker/searching_matching_profile/',
                    type:'post',
                    data:{form_data:form_data},
                    success: function(data)
                    {
                        //alert(data);
                        //alert("Response returned successfully");
                        if(data.length==0){
                            var html_div="<div class='well' style='margin-top:30px;width:100%;font-weight:20px;'>No Profile matching</div>"
                        }
                        else
                        {
                            var html_div="<div><table  style='width:500px;' class='table'><thead><tr><th>Candidate Name</th><th>Mobile No</th><th>Email</th><th>CTC<br/>(Lacs)</th><th >Skills</th><th>Work Experience<br/>(Yrs)</th><th>Current Location</th><th>Resume</th><th></th><th></th></tr></thead>";
                        //alert(data);
                            var link_href = 'http://www.waitbutwhy.com';
                        // for(i=0;i<data.length;i++)
                        // {
                        //    html_div += "<tr><td><img style='width:40px;height:40px;border-radius:40px;margin-left:20px;' src='" + data[i][0] + "'>" + "</td><td>" + data[i][1] + "</td><td>" + data[i][2] + "</td><td><a href='"+link_href+"'>"+ data[i][3] + "</a> </td><td>" + data[i][4] + "</td><td>" + data[i][5] + "</td><td>" + data[i][6] + "</td><td>"+ data[i][7]+ "</td><td>"+ data[i][8]+"</td><td>"+data[i][8] + "</td><td>" + data[i][9] + "</td><td><a href='/jobseeker/" + data[i][10] + "/profile/'>View Profile</a></td><td><a href='" + data[i][11] + "'>Download Resume</a></td></tr>";
                        // }

                            for(i=0;i<data.length;i++)
                            {
                               html_div += "<tbody><tr class='  searchable'><td>" + data[i][0] + "</td><td>" + data[i][1] + "</td><td><a href='"+link_href+"'>"+ data[i][2] + "</a> </td><td>" + data[i][3] + "</td><td>" + data[i][4] + "</td><td>" + data[i][5] + "</td><td>"+ data[i][6]+ "</td><td>"+ data[i][7]+"</td><td><a href='/jobseeker/" + data[i][8] + "/profile/'>View Profile</a></td><td><a  href='/jobseeker/" + data[i][8] + "/resume/'><i style='color:orange; 'class='fa fa-download'></i>Resume</a></td></tr></tbody";
                            }
                        }



                        //alert("loop executed successfully");

                        html_div+= "</table></div>";
                        //alert("Before adding form_data to html");
                        $('#form_data').html(html_div);
                        //alert("After adding form_data");
                        

                    }
                });
          
            });
        }); 
    </script>
{% endblock %}


 {% block extra %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'user_profile:logged_in_user' user.username %}">Dashboard</a></li>
                <li class="active"><a href="{% url 'jobseeker:matching_profile' %}"></i>Profiles</a></li>
                <li><a href="{% url 'jobs:posting_new_job' %}">Post A job</a></li>
                  
            </ul>

            <ul class="nav navbar-nav" style="margin-left:350px;">
                {% if user.is_authenticated %}
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" id="user-dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ user.username }} <span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                          <li><a id="user-dropdown-item-sign-out" href="{% url 'company:create_profile' %}"><i class="fa fa-edit"  style="padding:10px;"></i>Create Company Profile</a></li>
                         
                          <li><a id="user-dropdown-item-sign-out" href="/accounts/logout/"><span class="glyphicon glyphicon-off" style="padding:10px;"></span>Sign out</a></li>

                        </ul>
                    </li>
   
                {% endif %}

             </ul>
        </div><!-- /.navbar-collapse -->
        
  {% endblock %}





{% block main %}
    
     <div class="col-md-3 input-group pull-right form-group" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="filter form-control" placeholder="What you looking for?">
            </div>


    <div class="container matching_profile_container" style="margin-top:10px;">
      <h4 style="color:orange;text-decoration:underline;">Search JobSeekers..</h4>


      <div class="matching_profile_wrapper">
        <form method="get" id='search_data' action="#" enctype="multipart/form-data" class="form-inline" role="form">
        {% csrf_token %} 
           
         {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label for="{{ field.label }}">{{ field.label }}</label><br/>
               {{ field }}
              {% if field.help_text %}
                <span class="help-block">{{ field.help_text|safe }}</span>
              {% endif %}
              {% for error in field.errors %}
                <label class="control-label">{{ error }}</label>
              {% endfor %}
            </div>
          {% endfor %}


        <div class="form-group">
           <button type="submit" class="btn btn-warning btn-apply-filter">Apply Filter</button>
        </div>

       </form>

       <div class="row">

         <div class="col-md-8  " id="form_data">

         </div>

     </div>

    </div>
  </div> 

                 



{% endblock %}