Dear {{jobseeker_name}},<br/>Greetings from Analytics Vidhya.<br/><br/>Analytics Vidhya is world's largest Analytics and Data Science community. It is a passionate community of analysts with sharp focus on learning analytics. We run the most read blog on Analytics in India, discussion forums and a job portal for analytics professionals.<br/>As discussed over phone for the job opening, Job descriptions can be found here (http://www.analyticsvidhya.com/blog/2015/09/{{job_title}}-{{job_location}}-{{job_min_exp}}-{{job_max_exp}}-years-experience/ and share your updated CV with company name & designation (as subject) asap.
Please share the JD with the references you have, in case they are open to looking at opportunities. We would be grateful if they could indicate interest for the position and send us their updated “CV” to enable us proceed further.<br/><br/> Looking forward to hear from you.<br/><br/>Ummed Saini<br/>
Analytics Vidhya<br/>
www.analyticsvidhya.com<br/>
E: jobs@analyticsvidhya.com<br/>
L: 0124-4264086	<br/>
